<h3>Contact</h3>
<div class="view-form">
	<address>
	  <strong>{{about.name}}</strong><br>
	  {{contact.address}}<br>
	  {{contact.email}}<br>
	  {{contact.phone}}
	</address>
</div>

<form ng-show="loginObj.user" ng-submit="save()">
	<div class="form-group">
		<label for="contactAddress" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
			<input
			  id="contactAddress"
			  type="text"
			  ng-model="contact.address" 
			  placeholder="<address>" 
			  class="form-control view-item">
			</input>
		</div>
	</div>

	<div class="form-group">
		<label for="contactEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input
			  id="contactEmail"
			  type="text"
			  ng-model="contact.email" 
			  placeholder="<email>" 
			  class="form-control view-item">
			</input>
		</div>
	</div>
	
	<div class="form-group">
		<label for="contactPhone" class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-10">
			<input 
			  type="text" 
			  ng-model="contact.phone" 
			  placeholder="<phone>" 
			  class="form-control view-item">
			</input>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		Save
	</button>
</form>