<div style="position:relative; background-color:#bbbbbb;"
     ng-hide="loginObj.user"
     class="container fill border viewbox form-horizontal">
	<!-- fill border viewbox form-horizontal-->
	<div class="leftcell">
		<img ng-src="{{item.imgUrl}}" class="image" alt="{{item.title}}">
	</div>
	<div class="rightcell border" style="background-color:#eeeeee;">
		<dl>
			<dt>Title:</dt>
			<dd>{{item.title}}</dd>
			<dt ng-show="item.platform">Platform:</dt>
			<dd ng-show="item.platform">{{item.platform}}</dd>
			<dt ng-show="item.lang">Implementation:</dt>
			<dd ng-show="item.lang">{{item.lang}}</dd>
			<dt ng-show="item.loc">LOC:</dt>
			<dd ng-show="item.loc">{{item.loc}}</dd>
			<dt ng-show="item.link">Link:</dt>
			<dd ng-show="item.link"><a href="http://{{item.link}}" target="_blank">{{item.link}}</a></dd>
			<dt>Description:</dt>
			<dd style="clear: both;"><small>{{item.desc}}</small></dd>
		</dl>
	</div>
</div>

<div ng-show="loginObj.user" class="container fill border viewbox" style="background-color:#eeeeee;">
	<div class="deletebtn">
		<button type="button"
		  class="btn btn-default btn-xs"
		  ng-show="loginObj.user"
		  ng-click="deleteItem(item.$id)">
		  	<span class="glyphicon glyphicon-trash"></span> 
		</button>
	</div>
	<form>
		<div class="form-group">
			<img ng-src="{{item.imgUrl}}" class="image" width="150" alt="{{item.title}}" id="pano-{{item.$id}}">
			<br>
			<stphotoinput target="{{item.$id}}" accept="image/*"></stphotoinput>
		</div>

		<div class="form-group">
			<label for="itemTitle" class="col-sm-2 control-label">Title</label>
			<div class="col-sm-10">
				<input
				  id="itemTitle"
				  type="text"
				  ng-model="item.title" 
				  placeholder="<title>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemYear" class="col-sm-2 control-label">Year</label>
			<div class="col-sm-10">
				<input
				  id="itemYear"
				  type="text"
				  ng-model="item.year" 
				  placeholder="<year>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemPlatform" class="col-sm-2 control-label">Platform</label>
			<div class="col-sm-10">
				<input
				  id="itemPlatform"
				  type="text"
				  ng-model="item.platform" 
				  placeholder="<platform>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemLang" class="col-sm-2 control-label">Tech</label>
			<div class="col-sm-10">
				<input
				  id="itemLang"
				  type="text"
				  ng-model="item.lang" 
				  placeholder="<programming language>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemLOC" class="col-sm-2 control-label">LOC</label>
			<div class="col-sm-10">
				<input 
				  id="itemLOC"
				  type="text" 
				  ng-model="item.loc" 
				  placeholder="<lines of code>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemLink" class="col-sm-2 control-label">Link</label>
			<div class="col-sm-10">
				<input 
				  id="itemLink"
				  type="text" 
				  ng-model="item.link" 
				  placeholder="<web link>" 
				  class="form-control view-item">
				</input>
			</div>
		</div>

		<div class="form-group">
			<label for="itemDesc" class="control-label">Description</label>
			<div class="form-group">
				<textarea
				  id="itemDesc"
				  rows="5"
				  ng-model="item.desc" 
				  placeholder="<description of {{item.title}}>" 
				  class="form-control">
				</textarea>
			</div>
		</div>

		<button ng-click="editItem(item, upload)" class="btn btn-primary">
			Save
		</button>
	</form>
</div>