
<div ng-hide="loginShown" id="logintext" ng-click="loginShown = true;" class="topright">
	<small>Login</small>
</div>

<div ng-show="loginShown" class="topright box">
	<div class="topright">
		<button type="button"
		  class="btn btn-default btn-xs"
		  ng-click="loginShown = false;">
		  	<span class="glyphicon glyphicon-remove"></span> 
		</button>
	</div>

	<div style="text-align: left; margin-left:7px;">
		<span ng-show="loginObj.user" class="small">
		  {{loginObj.user.email}} | <a href="#" ng-click="loginObj.$logout()">
		  Logout</a>
		</span>
	</div>
	<div style="text-align: center;">
		<span ng-hide="loginObj.user" class="small">
		  Log in to manage portfolio items
		</span>
	</div>

	<div class="login_content">
		<form ng-submit="loginUser()">
			<div class="input-group input-group-sm textbox">
			  <input
			    type="text"
			    ng-model="user.email"
			    placeholder="email"
			    class="form-control">
			  </input>
			  <input
			    type="password"
			    ng-model="user.password"
			    placeholder="password"
			    class="form-control">
			  </input>
			</div>

			<button
			  ng-hide="loginObj.user"
			  ng-click="loginUser()"
			  class="btn btn-primary btn-xs">
			  Login
			</button>
			<button
			  ng-show="loginObj.user"
			  ng-click="addUser()"
			  class="btn btn-warning btn-xs">
			  Add user
			</button>
		</form>
	</div>
</div>