<div class="view-container header">
  <h3><small>{{about.prefix}}</small> {{about.name}}</h3>
  <ul class="nav nav-pills">
    <li ng-class="{active: selected == 'about'}">
    	<a ng-href="#/about" ng-click="select('about')">About</a></li>
    <li ng-class="{active: selected == 'contact'}">
    	<a ng-href="#/contact" ng-click="select('contact')">Contact</a></li>
    <li ng-class="{active: selected == 'portfolio'}">
    	<a ng-href="#/portfolio" ng-click="select('portfolio')">Portfolio</a></li>
  </ul>
</div>
<stflash message=flash.message type='success'></stflash>