<div class="view-container viewitems">
	<h3> My SW develoment portfolio </h3>

	<a ng-click="openNewForm()"
	   ng-show="loginObj.user && !inputFormVisible"
	   class="btn btn-primary btn-sm btn-block"
	   style="max-width: 150px;">
		Create a new entry
	</a>

	<stinput></stinput>

	<span style="text-align: left; display: inline-block; vertical-align: middle;" >
		<div style="float:left">
			<label for="filter" class="control-label" style="line-height:35px;">
				Filter by 
			</label>
		</div>
		<div style="float:right">
			<input
				  id="filter"
				  placeholder="<include text>"
				  class="form-control view-item"
				  data-ng-model="searchText">
		</div>
	</span>
	<br>

	<div ng-repeat="item in items | listToArray:searchText |
					orderBy:'year':true"
		 class="animate-repeat">
		<stitem></stitem>
	</div>
</div>