/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

dl {
  overflow:hidden;
}

dt {
  float: left;
  clear: left;
  min-width: 9em;
}
dd {
  overflow: hidden;
}

.dt-horizontal {
 float:left;
 width:20%; /* adjust the width; make sure the total of both is 100% */
}
.dd-horizontal {
 float:left;
 width:80%; /* adjust the width; make sure the total of both is 100% */
}

.top {
  vertical-align:text-top;
}

.leftcell {
  float: left;
  clear: left;
  width: 204px;
}
.rightcell {
  overflow: hidden;
  text-align: left;
  padding: 2px;
}

.image {
  max-width:200px;
  display: block;
  height: auto;
  border: 1px solid #000000;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}

.centercell {
  margin:0 auto;
  width:600px;
}

.flash {
  position: fixed;
  left: 50%;
  top: 15%;
  min-width:340px;
  height:60px;
  margin-left: -170px;
  margin-top: -30px;
  z-index:9999;
  border: 2px solid #000000;
  text-align: center;
  font-weight: bold;
}

.border {
  border: 1px solid #a0a0a0;
}

.textbox {  
  width:98%;
  padding:5px;
}

.closebtn {
  position:relative;
  float: right;
  top:-5px;
}

.deletebtn {
  position:relative;
  float: right;
  top:-5px;
  right:-5px;
}

.viewbox {
  margin:10px;
  padding:5px;
  box-shadow:
    5px 8px 8px rgba(0,0,0,0.75),
    inset 5px 8px 8px rgba(255,255,255,0.4);
  background:#fff;
  text-align: left;
}

.box {
  margin:10px;
  padding:5px;
  width:250px;
  height:120px;
  box-shadow:
    5px 8px 8px rgba(0,0,0,0.75),
    inset 5px 8px 8px rgba(255,255,255,0.4);
  background:#ccc;
  text-align:center;
}

.login_content {
  position:absolute;
  bottom:6px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 2px solid #bbbbbb;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.topright {
  position: absolute;
  right:0px;
  top:0px;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

#spin {
  height: 60px;
}

/* PAGES (specific colors for each page)
============================================================================= */
.menu {
  position:absolute;
  top:0; 
  bottom:0; 
  text-align:center;
  padding-top:20px;
  width:100%;
  background:#dddddd;
}

.page {
  position:absolute;
  top:112px;
  bottom:0;
  text-align:center;
  padding-top:10px;
  width:100%;
  overflow: auto;
}

.page-portfolio    { background:#dddddd; color:#000000; }
.page-about   { background:#dddddd; color:#000000; }
.page-contact   { background:#dddddd; color:#000000; }

/* CONTAINERS
============================================================================= */

.view-form {
  padding:5px;
  border-style:dotted;
  border-width:1px;
  min-width: 300px;
  display: table-cell;
}
.container {
  max-width: 500px;
}

.view-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.viewitems {
  max-width: 500px;
  top:100px;
  vertical-align: top;
  text-align:left;
}

.view-item {
  max-width:500px;
}

/*@media all and (min-width:800px) {*/
@media all and (min-width:800px) {
    /* styles for browsers larger than 960px; */
  .container {
    max-width: 800px;
  }

  .view-container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .viewitems {
    max-width: 780px;
    top:100px;
    vertical-align: top;
    text-align:left;
  }

  .view-item {
    max-width:500px;
  }
}
@media only screen and (max-device-width:480px){
   /* styles for mobile browsers smaller than 480px; (iPhone) */
  .container {
    max-width: 480px;
  }

  .view-container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .viewitems {
    max-width: 480px;
    top:100px;
    vertical-align: top;
    text-align:left;
  }
}
@media only screen and (device-width:768px){
   /* default iPad screens */
  .container {
    max-width: 768px;
  }

  .view-container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .viewitems {
    max-width: 768px;
    top:100px;
    vertical-align: top;
    text-align:left;
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .container {
    max-width: 481px;
  }

  .view-container {
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .viewitems {
    max-width: 481px;
    top:100px;
    vertical-align: top;
    text-align:left;
  }
}
@media screen and (max-width:480px) {
  .rightcell {
    float: left;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .container {
    max-width: 600px;
  }

  .view-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .viewitems {
    max-width: 600px;
    top:100px;
    vertical-align: top;
    text-align:left;
  }
}